In [1]:
trainDS = pd.read_excel('Data_User_Modeling_Dataset _temizleme.xls',sheet_name='Training_Data',index_col=None)

NameError: name 'pd' is not defined

In [2]:
trainDS = pd.read_excel('Data_User_Modeling_Dataset _temizleme.xls',sheet_name='Training_Data',index_col=None,usecols=[0,1,2,3,4])

NameError: name 'pd' is not defined

In [3]:
import pandas as pd
import numpy as np

In [4]:
trainDS = pd.read_excel('Data_User_Modeling_Dataset _temizleme.xls',sheet_name='Training_Data',index_col=None,usecols=[0,1,2,3,4])

In [5]:
trainDS.head()

    STG   SCG   STR   LPR   PEG
0  0.00  0.00  0.00  0.00  0.00
1  0.08  0.08  0.10  0.24  0.90
2  0.06  0.06  0.05  0.25  0.33
3  0.10   NaN  0.15  0.65  0.30
4  0.08  0.08  0.08  0.98  0.24

In [6]:
trainDS.tail(3)

      STG   SCG   STR   LPR   PEG
255  0.54  0.82  0.71  0.29  0.77
256  0.50  0.75  0.81  0.61  0.26
257  0.66  0.90   NaN  0.87  0.74

In [7]:
trainDS.shape

(258, 5)

In [8]:
trainDS["STR"].head()

0    0.00
1    0.10
2    0.05
3    0.15
4    0.08
Name: STR, dtype: float64

In [9]:
trainDS.dtypes

STG    float64
SCG    float64
STR    float64
LPR    float64
PEG    float64
dtype: object

In [10]:
trainDS["STR","STG"].head()

KeyError: ('STR', 'STG')

In [11]:
eksik_veri= trainDS.isnull().sum() #girilmemiş veriler
print(eksik_veri)

STG    0
SCG    4
STR    6
LPR    1
PEG    3
dtype: int64

In [12]:
satir_olarak_ihmal = trainDS.dropna() #eksik olan satırları kaldırdık
satir_olarak_ihmal

      STG   SCG   STR   LPR   PEG
0    0.00  0.00  0.00  0.00  0.00
1    0.08  0.08  0.10  0.24  0.90
2    0.06  0.06  0.05  0.25  0.33
4    0.08  0.08  0.08  0.98  0.24
5    0.09  0.15  0.40  0.10  0.66
..    ...   ...   ...   ...   ...
251  0.56  0.60  0.60  0.31  0.50
252  0.54  0.51  0.55  0.64  0.19
254  0.78  0.61  0.71  0.19  0.60
255  0.54  0.82  0.71  0.29  0.77
256  0.50  0.75  0.81  0.61  0.26

[245 rows x 5 columns]

In [13]:
sutun_olarak_ihmal = trainDS.dropna(axis=1)
sutun_olarak_ihmal

      STG
0    0.00
1    0.08
2    0.06
3    0.10
4    0.08
..    ...
253  0.61
254  0.78
255  0.54
256  0.50
257  0.66

[258 rows x 1 columns]

In [14]:
print(trainDS.shape)
print("satir",trainDS.shape[0])
print(sutun_olarak_ihmal.shape)
print(satir_olarak_ihmal.shape)

(258, 5)
satir 258
(258, 1)
(245, 5)

In [15]:
#eksik verilere sabit değerler atamak için
sabit_deger=trainDS.fillna(0.0001)
sabit_deger.head()

    STG     SCG   STR   LPR   PEG
0  0.00  0.0000  0.00  0.00  0.00
1  0.08  0.0800  0.10  0.24  0.90
2  0.06  0.0600  0.05  0.25  0.33
3  0.10  0.0001  0.15  0.65  0.30
4  0.08  0.0800  0.08  0.98  0.24

In [16]:
#son gözlemin aktarılması
son_gozlem=trainDS.fillna(method="ffill")
son_gozlem

      STG   SCG   STR   LPR   PEG
0    0.00  0.00  0.00  0.00  0.00
1    0.08  0.08  0.10  0.24  0.90
2    0.06  0.06  0.05  0.25  0.33
3    0.10  0.06  0.15  0.65  0.30
4    0.08  0.08  0.08  0.98  0.24
..    ...   ...   ...   ...   ...
253  0.61  0.78  0.69  0.92  0.19
254  0.78  0.61  0.71  0.19  0.60
255  0.54  0.82  0.71  0.29  0.77
256  0.50  0.75  0.81  0.61  0.26
257  0.66  0.90  0.81  0.87  0.74

[258 rows x 5 columns]

In [17]:
sonraki_gozlem=trainDS.fillna(method="bfill")
sonraki_gozlem

      STG   SCG   STR   LPR   PEG
0    0.00  0.00  0.00  0.00  0.00
1    0.08  0.08  0.10  0.24  0.90
2    0.06  0.06  0.05  0.25  0.33
3    0.10  0.08  0.15  0.65  0.30
4    0.08  0.08  0.08  0.98  0.24
..    ...   ...   ...   ...   ...
253  0.61  0.78  0.69  0.92  0.60
254  0.78  0.61  0.71  0.19  0.60
255  0.54  0.82  0.71  0.29  0.77
256  0.50  0.75  0.81  0.61  0.26
257  0.66  0.90   NaN  0.87  0.74

[258 rows x 5 columns]

In [18]:
from sklearn.preprocessing import Imputer

ImportError: cannot import name 'Imputer' from 'sklearn.preprocessing' (C:\Users\ONUR\anaconda\lib\site-packages\sklearn\preprocessing\__init__.py)